html, body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;

}

h1{
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

.container-float {
  background-image: url("../images/Snow-storm.jpg");
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.content {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
div{
  border: 1px solid;
}
.weather{
  display: flex;
  justify-content: space-between;
  width:30%;
}
#temp {
  color: #fefefe;
  text-shadow: rgb(71, 71, 71) 1px 2px 1px;
  align-self: center;
  font-size: 2.2rem;
  font-weight: 700;

}
.weatherDataItem {
  padding:10px;
  margin: 7px;
  background: rgba(255, 255, 255, 0.5);
  text-shadow: 0 1px 0 #ccc,
               0 1px 0 #c9c9c9,
               0 1px 0 #bbb,
               0 2px 0 #b9b9b9,
               0 2px 0 #aaa,
               0 4px 1px rgba(0,0,0,.1),
               0 1px 2px rgba(0,0,0,.3),
               0 2px 3px rgba(0,0,0,.2),
               0 3px 5px rgba(0,0,0,.25);

}
.weatherData {
  margin-top: 20px;

  display: flex;
  justify-content: space-around;
}
